
.selected {
    background-color: #6fffec;
    color: #333;
    --bs-table-bg: #6fffec;
}

.navBar {
    background-image: url("./assets/bg-1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-primary {
    --bs-btn-bg: #550ed4 !important;
}

.nav-link {
    color: #fff !important;
    font-size: 1rem !important;
}

.nav-link:hover {
    color: #6fffec !important;
}

.nav-link.active {
    color: #6fffec !important;
}

.nav-link-title {
    color: #fff !important;
    font-size: 1.5rem !important;
    text-decoration: none;
}